  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Meta.Description }}" />
    <meta name="author" content="{{ .Meta.Author }}" />
    <meta name="keywords" content="{{ range .Meta.Keywords }}{{.}},{{ end }}" />
    <meta name="robots" content="index" />
    <meta name="copyright" content="{{.Footer.Copyrights}}" />
    <meta name="expires" content="3600" />
    <title>{{ .Meta.Title }}</title>
    <link href="/css/spectre.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>

